{% extends "JPApp/padre.html" %}

{% load static %}

{% block page_title %} 
Registro y listado de errores
{% endblock %}

{% block nav_bar %} 
<ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
    <li class="nav-item"><a class="nav-link" href="#portfolio">Errores</a></li>
    <li class="nav-item"><a class="nav-link" href="#about">Refuerzos</a></li>
    <li class="nav-item"><a class="nav-link" href="#team">Investigaciones</a></li>
    <li class="nav-item"><a class="nav-link" href="#contact">Perfil</a></li>
</ul>
{% endblock %}

{% block header %} 
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Registro y listado de errores</div>
    </div>
</header>
{% endblock %}